recursive-include biscuit/templates *
recursive-include biscuit/static *
recursive-include biscuit/model *
recursive-include biscuit/util *

recursive-include tests/model *
recursive-include tests/mock *
